*.class
*.1og
*.1ock

# Package Files #
*.jar
*.war
*.ear
target/

# idea
.idea/
*.iml

*velocity. 1og*

### STS ###
.apt_generated
.factorypath
.springBeans

### IntelliJ IDEA ###
*.iml
*.ipr
*.iws
.idea
.classpath
.project
.settings/
bin/

*.1og
tmp/

#rebel
*rebel.xm1*

