<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myl.dao.SCourseMapper">


    <insert id="selectCourse">
        insert into choose_course.scourse(c_id,s_studentid,t_teacherid,c_status) values(#{c_id},#{s_studentid},#{t_teacherid},"已选")
    </insert>

    <delete id="deleteCourseByStudent">
        delete from choose_course.scourse where s_studentid =#{s_studentid} and c_id =#{c_id}
    </delete>






</mapper>