<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--       1. 扫描service包,其中有注解就可以自动扫描到-->
    <context:component-scan base-package="com.myl.service"/>
    <!--       2. 将业务类注入到Spring容器中，可以通过配置文件或者注解实现-->
    <bean id="AdminServiceImpl" class="com.myl.service.AdminServiceImpl">
        <property name="adminMapper" ref="adminMapper" />
    </bean>

    <bean id="TeacherServiceImpl" class="com.myl.service.TeacherServiceImpl">
        <property name="teacherMapper" ref="teacherMapper" />
    </bean>

    <bean id="StudentServiceImpl" class="com.myl.service.StudentServiceImpl">
        <property name="studentMapper" ref="studentMapper" />
    </bean>

    <bean id="CourseServiceImpl" class="com.myl.service.CourseServiceImpl">
        <property name="courseMapper" ref="courseMapper" />
    </bean>

    <bean id="SCourseServiceImpl" class="com.myl.service.SCourseServiceImpl">
        <property name="scourseMapper" ref="SCourseMapper"></property>
    </bean>

    <!--       3. 声明式事务配置-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--        注入数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>


    <!--       4. AOP事务支持-->


</beans>